
/*-----------------
	Responsive
-----------------------*/

@media (max-width: 320px) {
    .pagination li {
      margin: 0 2px !important;
    }

    .pagination .page-link {
        padding: 8px 12px;
        font-size: 14px;
    }
}

@media (max-width: 575.98px) {
    .sidebar {
      width: 225px;
    }
	.card {
		margin-bottom: 0.9375rem;
	}
	.page-wrapper > .content {
		padding: 0.9375rem 0.9375rem 0;
	}
	.chat-window {
		margin-bottom: 0.9375rem;
	}
	.card-body {
		padding: 1.25rem;
	}
	.card-header {
		padding: .75rem 1.25rem;
	}
	.card-footer {
		padding: .75rem 1.25rem;
	}
    .page-header {
		margin-bottom: 0.9375rem;
	}
    .page-header .breadcrumb {
		display: none;
	}
    .logo-small {
		display: block;
	}
    .sticky-sidebar li a {
	    font-size: 20px;
	    height: 44px;
	    width: 44px;
	}
  }

  @media (max-width: 768px) {
    body {
		font-size: 14px;
	}
	h1,
	.h1 {
		font-size: 2rem;
	}
	h2,
	.h2 {
		font-size: 1.75rem;
	}
	h3,
	.h3 {
		font-size: 1.5rem;
	}
	h4,
	.h4 {
		font-size: 1.125rem;
	}
	h5,
	.h5 {
		font-size: 1rem;
	}
	h6,
	.h6 {
		font-size: 0.975rem;
	}
  }


@media (min-width: 768px) {
	.avatar-xxl {
		width: 8rem;
		height: 8rem;
	}
	.avatar-xxl .border {
		border-width: 4px !important;
	}
	.avatar-xxl .rounded {
		border-radius: 12px !important;
	}
	.avatar-xxl .avatar-title {
		font-size: 42px;
	}
	.avatar-xxl.avatar-away:before,
	.avatar-xxl.avatar-offline:before,
	.avatar-xxl.avatar-online:before {
		border-width: 4px;
	}

    .sidebar .sidebar-header {
        display: none;
    }

    .app-listing li {
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    .header .header-left {
		position: absolute;
		width: 100%;
	}

    .menu.nav{
        display: none!important;
    }

    .mobile_btn {
		color: #333;
		cursor: pointer;
		display: block;
		font-size: 24px;
		height: 60px;
		left: 0;
		line-height: 60px;
		padding: 0 15px;
		position: absolute;
		text-align: center;
		top: 0;
		z-index: 10;
	}

    .navbar .navbar-brand > img{
        max-height: 50px;
    }

    .navbar-toggler-icon{
        width: 1.3rem;
        height: 1.3em;
    }

    .navbar .mobile-btn{
        position: absolute;
        padding: 0.1rem 0.4rem;
    }

    .page-wrapper-three {
        margin-left: 0px;
        padding-top: 80px;
        position: relative;
        -webkit-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .header .has-arrow .dropdown-toggle:after {
		display: none;
	}
	.user-menu.nav > li > a > span:not(.user-img) {
		display: none;
	}
	.navbar-nav .open .dropdown-menu {
		float: left;
		position: absolute;
	}
	.navbar-nav.user-menu .open .dropdown-menu {
		left: auto;
		right: 0;
	}
	.header .header-left {
		padding: 0 15px;
	}
	.header .header-left .logo {
		display: none;
	}
	.header-left .logo.logo-small {
		display: inline-block;
	}
	.hamburger {
		display: block;
	}
}

@media (max-width: 1199.98px) {
    .sidebar {
      width: 200px;
    }
    .sidebar .sidebar-menu > ul > li > a {
        padding: 8px 12px;
    }

    .app-listing {
	    display: inline-block;
      width: 100%;
	}
	.app-listing li {
	    width: 49%;
	    display: inline-block;
	}

    .multipleSelection #checkboxes, .sortby #checkbox {
		width: 100%;
	}
}